@font-face {
    font-family: eurofurence;
    src: url(../font/eurof55.ttf);
}
@font-face {
    font-family: Calibri;
    src: url(../font/Calibri.ttf);
}

h1, h2, h3, h4, h5, h6 {
    font-family: eurofurence, 'Roboto', sans-serif;

}
p{
    font-family: Calibri, 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    background-color: #040301;
    color:#d9d5c3;
}
html, body {
    height: 100%;
    margin: 0;
}

a {
    color: #d9d5c3;
}

a:hover {
    color: darkgrey;
}

.fa {
    font-size: 24px;
    padding: 2px;
    text-decoration: none;

}

.socialIcon {
    text-align: right;
    vertical-align: middle;
    color: #040301;
}

.socialIcon:hover {
    /*opacity: 0.7;*/
    text-decoration: none;
    color: #7c2220;
}

.socialIcon:visited {
    text-decoration: none;
}

.socialIcon:focus {
    opacity: 0.7;
    text-decoration: none;
    color: #7c2220;
}


.links{
    font-weight: bold;
    text-align: left;
    color: #040301;
}

.links:hover {
    /*opacity: 0.7;*/
    text-decoration: none;
    color: #7c2220;
}

.links:visited {
    text-decoration: none;
}

.links:focus {
    opacity: 0.7;
    text-decoration: none;
    color: #7c2220;
}

.rightNav {
    margin-top: 10px;
}

/* middle content of the page col-md-8 */
.middle {
    background-color: #7c2220;
    color:#d9d5c3;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 100px;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: 100%;
    /* Negative indent footer by its height */
   /* margin: 0 auto -60px;*/
    /* Pad bottom by footer height */
    padding: 0 0 60px;
    margin-bottom: -50px;

}

.footer {
    background-color: #d9d5c3;
    color: #040301;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}

a.directions {
    color: #040301;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

.directions:hover {
    text-decoration: none;
    color: #7c2220;
}

.directions:visited {
    text-decoration: none;
}

.directions:focus {
    opacity: 0.7;
    text-decoration: none;
    color: #7c2220;
}

.footerBottom {
    text-align: center;
    vertical-align: middle;
}

.map {
    margin-top: 10px;
    margin-bottom: 10px;

}

.reviews {
    padding: 10px;
}

.Chef {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}
/*images of the staff*/
.staff:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#pagination_cp_widget_a0d8db76-186b-4a41-a9f6-e4894e603e49 {
    color: #040301;
}

.group {
    border-style: solid;
    border-width: 5px;
    border-color: #040301;
}

td {
    padding-right: 15px;
    font-family: Calibri, 'Roboto', sans-serif;
    font-size: 16px;
}

.awards {
    padding-right: 15px;
    padding-bottom: 15px;
}

.history {
    padding-top: 15px;
}



.btn {
    background-color:#d9d5c3;
    color: #040301;
}



.mySlides {
    display:none
}


.w3-left, .w3-right, .w3-badge {
    cursor: pointer;
}


.w3-badge {
    height:13px;width:13px;padding:0
}


@media screen and (max-width: 1040px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }

}

@media screen and (max-width: 991px) {
    .logoK {
        height: 150px;

    }

}


